.myBtn {
    padding:1%;
    margin: 1%;
}
.myCard{
    width:18rem;
    margin:5%;
    height:18rem;
}
.ratings{
    font-size: 100%;
    line-height: 150%;
    text-align: center;
    padding:5%;
}
body{
    background-image: url("../images/connectwork.png");
}
label {
    color: white;
}
.myheader {
    padding:40%;
}
form {
    margin:1% 5%;
}